<h1>My Activities</h1>
<%= link_to "Refresh Data", refresh_activities_path %>
<%= current_user.last_activity_date %>
<hr>
<% @activities.each do |activity| %>
  <p>
    <%= activity.start_date_local.strftime("%Y-%m-%d") %>
    | <%= activity.sentence_generator %>
    <%#= link_to "View Laps", activity_path(activity.strava_id) %>
    <%#= link_to "Refresh Laps", refresh_laps_path(activity) %>
  </p>
<% end %>
